$breakpoints: (
  xxsmall: 360px,
  xsmall: 720px,
  small: 850px,
  medium: 1050px,
  large: 1400px,
);

@mixin max-width($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint)}) { @content ; }
}

@mixin font($family, $size_n) {
  font-size: font-scale($size_n);
  font-family: $family;

  @if $family == $heading-font {
    font-weight: 900;
  }
}

@mixin panel {
  background: $background-color;
  box-shadow: $box-shadow-large;
}

@mixin link($no-visit-state: false) {
  color: $dark-green;
  text-decoration: none;
  font-weight: bold;

  @if $no-visit-state == false {
    &:visited {
      color: darken($orange, 30%); // TODO maybe add this color to vars

      &:hover, &:active {
        color: $orange;
      }
    }
  }

  &:hover, &:active {
    color: lighten($dark-green, 15%);
  }
}

@mixin content-styles {
  a {
    @include link;
  }

  img {
    display: block;
    margin: $row auto;
    max-width: 100%;
    height: auto;
  }

  // In case someone uses h1 on markdown
  h1, h2 {
    @include font($heading-font, 2);
    margin: 2*$line-height 0 $line-height;
  }

  h3 {
    @include font($heading-font, 1);
    margin: 2*$line-height 0 $line-height;
  }

  p, ul, ol {
    margin: 1em 0;
  }

  // We don't have italic font style included -> use bold
  em {
    font-style: normal;
    font-weight: bold;
  }

  ol li {
    display: list-item;
    list-style: decimal;
    margin-left: $spacing;
  }

  ul li {
    display: list-item;
    list-style: disc;
    margin-left: $spacing;
  }

  blockquote {
    quotes: "“" "”" "‘" "’";
    margin: $line-height 2*$spacing;
    padding: 1px $spacing;
    font-weight: bold;
    background: $light-green;
    text-align: center;

    p:first-child::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }
  }

  table {
    width: 100%;
    margin: $line-height 0;
    border-collapse: collapse;

    th {
      text-align: left;
    }

    td, th {
      padding: $spacing-xs;
    }

    tbody tr:nth-child(2n+1) {
      background: $light-green;
    }
  }

  hr {
    width: 2*$col;
    border: 1px solid #aaa;
    margin: 1.5*$row auto;
  }
}
