@import 'variables';

html {
  font-size: $font-size;
}

body {
  margin: 0;
  background: $background-color;
  font-color: $font-color;
  line-height: $line-height;
  font-family: $body-font;

  // Better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.v-colored {
  background: $light-green;
}

// Reset some styles
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

// Fix IE11 bug
main {
  display: block;
}

// Utility classes

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.completely-hidden {
  display: none;
}

// Helpers

@function asset($path) {
  @return url('/assets/' + $path);
}

// Mixins

@import 'mixins';

// Components

@import 'components/buttons';
@import 'components/navigation';
@import 'components/headers';
@import 'components/intro';
@import 'components/sections';
@import 'components/panel';
@import 'components/articles';
@import 'components/events';
