---
layout: default
title: Erähenkistä menoa jo vuodesta 1980
nav:
  include: true
  title: Etusivu
  weight: 1
---
{% include navigation.html variant='v-inverse' %}
<main id="content">
    <header class="c-image-header">
        <h1>{{ site.data.snippets.frontPageSlogan }}</h1>
    </header>

    <div class="c-intro">
        <div class="c-intro__content">
            {{ site.data.snippets.frontPageIntro|markdownify }}
        </div>
        <div class="c-intro__cta">
            <a href="/liity" class="c-button">Liity mukaan!</a>
        </div>
    </div>

    <div class="c-grid-container v-bg-dark v-grid-2col-7-5 v-order-reverse">

        <section class="c-section v-inverse c-grid-container__second">
            <h2>Tapahtumat</h2>

            {% assign events = site.events | where: "show_on_front_page", true | sort: "datetime_start" | reverse %}
            {% if events.size > 0 %}
                {% include event_list.html %}
                <div class="c-section__actions">
                    <a href="/tapahtumat" class="c-button">Kaikki tapahtumat</a>
                </div>
            {% else %}
                <div class="c-panel v-centered v-empty">
                    Ei tapahtumia lähiaikoina
                </div>
            {% endif %}
        </section>

        <section class="c-section v-inverse c-grid-container__first">
            <h2>Ajankohtaista</h2>

            {% assign articles = site.articles | sort: "created" | reverse %}
            {% include article_list.html articles=articles limit=3 %}

            <div class="c-section__actions">
                <a href="/ajankohtaista" class="c-button">Näytä lisää</a>
            </div>
        </section>

    </div>
</main>
{% include footer.html %}
