{% if attachments %}
	<ul>
	{% for attachment in attachments %}
		<li>
			<a href="{{ attachment.file.url }}" type="{{ attachment.file.contentType }}">{{ attachment.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
