{% if attachments %}
	<div class="c-attachments">
		<h2>Liitteet</h2>
		<ul>
		{% for attachment in attachments %}
			<li>
				<a href="{{ attachment.file.url }}" type="{{ attachment.file.contentType }}">{{ attachment.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
