<footer class="c-footer {{ variant }}">
	<div class="c-footer__info">
		<strong>Korven Vaeltajat ry</strong>
		<p><a href="mailto:info@korvenvaeltajat.net">info@korvenvaeltajat.net</a></p>
		<div class="c-footer__some">
			<a href="https://www.facebook.com/korvenvaeltajat" class="facebook">Facebook</a>
			<a href="https://instagram.com/korvenvaeltajat" class="instagram">Instagram</a>
		</div>
	</div>
	<nav class="c-footer__links">
		<ul>
		{% for link in links|slice(0,-1) %}
			<li><a href="{{ path(link.route) }}">{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav>
	<div class="c-footer__ctas">
		<a href="{{ path('join') }}" class="c-button">Liity mukaan!</a>
	</div>
</footer>
