<header class="c-navigation">
	<h1><a href="{{ path('home') }}">Korven Vaeltajat</a></h1>
	{%
		set links = [
			{
				'title': 'Etusivu',
				'route': 'home'
			},
			{
				'title': 'Mikä partio?',
				'route': 'about_scouting'
			},
			{
				'title': 'Lippukunta',
				'route': 'troop'
			},
			{
				'title': 'Yhteystiedot',
				'route': 'contact'
			},
			{
				'title': 'Liity mukaan!',
				'route': 'join',
				'class': 'c-button'
			}
		]
	%}

	<ul>
	{% for link in links %}
		{% set classes = [ link.class|default('c-navigation__link') ] %}
		{% if (link.route == template) %}
			{% set classes = classes|merge([ 'c-navigation__active' ]) %}
		{% endif %}
	    	<li><a href="{{ path(link.route) }}" class="{{ classes|join(' ') }}">{{ link.title }}</a></li>
	{% endfor %}
	</ul>
</header>
