<footer class="c-footer {{ include.variant }}">
	<div class="c-footer__info">
		<strong>Korven Vaeltajat ry</strong>
		<p><a href="mailto:info@korvenvaeltajat.net">info@korvenvaeltajat.net</a></p>
	</div>
	<nav class="c-footer__links">
		<ul>
			{% assign nav_items = site.pages | where: "nav.include", true | sort: "nav.weight" %}
			{% for link in nav_items %}
				{% unless link.nav.exclude_footer %}
					<li><a href="{{ link.url }}">{{ link.nav.title }}</a></li>
				{% endunless %}
			{% endfor %}
		</ul>
	</nav>
	<div class="c-footer__some">
		<a href="https://www.facebook.com/korvenvaeltajat" class="facebook">Facebook</a>
		<a href="https://instagram.com/korvenvaeltajat" class="instagram">Instagram</a>
	</div>
	<div class="c-footer__ctas">
		<a href="{{ path('join') }}" class="c-button">Liity mukaan!</a>
	</div>
</footer>
