{% extends "layout.html.twig" %}

{% block title %}Mikä partio?{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content">
		<div class="c-text-header">
			<h1>Mikä partio?</h1>
		</div>
		<div class="c-bodytext">
			{{ snippets.whatScouting|markdown }}
		</div>
		<div class="c-cta">
			<a href="{{ path('join') }}" class="c-button">Tule mukaan!</a>
		</div>
	</main>
	{% include 'partials/footer.html.twig' with { variant: 'v-colored' } %}
{% endblock %}
