{% extends "layout.html.twig" %}

{% block title %}Mikä partio?{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content">
		<h1>Mikä partio?</h1>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
