{% extends "layout.html.twig" %}

{% block title %}Ajankohtaista{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content">
		<h1>Ajankohtaista</h1>
		{% include 'partials/article_list.html.twig' %}
	</main>
{% endblock %}
