{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main class="c-page-full" id="content">
		<div class="c-text-header">
			<h1>{{ article.title }}</h1>
		</div>

		<span class="c-page-full__meta">
			{% if article.authorName %}
				{{ article.authorName }}
				{% include 'partials/date.html.twig' with { date: article.created } %}
			{% else %}
				{% include 'partials/date.html.twig' with { date: article.created } %}
			{% endif %}
		</span>

		<div class="c-page-full__content">
			{{ article.content|markdown }}

			{% include 'partials/attachments.html.twig' with { attachments: article.attachments } %}
		</div>
	</main>
	{% include 'partials/footer.html.twig' with { variant: 'v-dark' } %}
{% endblock %}
