{% extends "layout.html.twig" %}

{% block title %}Sivua ei löydy (404){% endblock %}

{% block body_variant %}v-colored{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content">
		<div class="c-text-header">
			<h1>Sivua ei löydy (404)</h1>
		</div>
		<div class="c-intro v-bind-up">
			<div class="c-intro__content">
				Olemme pahoillamme, mutta etsimääsi sivua ei löytynyt. Kokeile ottaa kompassiisi uusi suunta <a href="/">etusivulta</a>.
			</div>
		</div>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
