{% extends "layout.html.twig" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content" class="c-page-full">
		<div class="c-text-header">
			<h1>{{ event.title }}</h1>
		</div>

		<div class="c-page-full__meta">
			{% if event.datetimeEnd %}
				{% include 'partials/date.html.twig' with {
					date: event.datetimeStart,
					withTime: true }
				%} –
				{% include 'partials/date.html.twig' with {
					date: event.datetimeEnd,
					withTime: true }
				%}
			{% else %}
				{% include 'partials/date.html.twig' with {
					date: event.datetimeStart,
					withTime: true }
				%}
			{% endif %}
		</div>

		{% if event.registrationLink %}
			<div class="c-page-full__actions">
				<a href="{{ event.registrationLink }}" class="c-button">Ilmoittaudu</a>
			</div>
		{% endif %}

		<div class="c-page-full__content">
			{{ event.content|markdown }}

			{% include 'partials/attachments.html.twig' with { attachments: event.attachments } %}
		</div>

	</main>
{% endblock %}
