{% extends "layout.html.twig" %}

{% block title %}Tapahtumat{% endblock %}

{% block body_variant %}v-colored{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	<main id="content">
		<div class="c-text-header">
			<h1>Tapahtumat</h1>
		</div>
		<div class="c-grid-container v-grid-1col-narrow">
			{% include 'partials/event_list.html.twig' %}
		</div>
	</main>

{% endblock %}
