{% extends "layout.html.twig" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
	<h2>Artikkelit</h2>
	{% for article in articles %}
		<h3>{{ article.title }}</h3>
	{% endfor %}
{% endblock %}
