<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} – Korven Vaeltajat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/styles/screen.css">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:900" rel="stylesheet">
	</head>
	<body class="{% block body_variant %}{% endblock %}">
		<a href="#content" class="visually-hidden">Hyppää sisältöön</a>
		{%
			set links = [
				{
					'title': 'Etusivu',
					'route': 'home'
				},
				{
					'title': 'Lippukunta',
					'route': 'troop'
				},
				{
					'title': 'Yhteystiedot',
					'route': 'contact'
				},
				{
					'title': 'Liity mukaan!',
					'route': 'join',
					'class': 'c-button'
				}
			]
		%}
		{% block content %}{% endblock %}
		<script src="/main.js"></script>
	</body>
</html>
