<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} – Korven Vaeltajat</title>
	</head>
	<body>
		<h1>Korven Vaeltajat ({{ template }})</h1>
		{% block content %}{% endblock %}
	</body>
</html>
