.c-article-list {
  .c-article + .c-article {
    margin-top: 2*$spacing;
  }
}

.c-article {
  @include panel;
  padding: $spacing;

  &__date {
    display: block;
    @include font($heading-font, 1);
  }

  h3 {
    margin: $spacing/2 0;
    @include font($heading-font, 2);
    line-height: 1.1;

    a {
      text-decoration: none;
      color: $font-color;
    }
  }

  &__actions {
    margin-top: 1em;
  }
}

.c-article-full {
  padding-top: 8*$row;

  &__heading {
    @include font($heading-font, 3);
    line-height: 2.5*$line-height;
    width: 8*$col;
    margin: 0 auto $row;
    text-align: center;
  }

  &__meta {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  &__content {
    width: 6*$col;
    margin: 2*$row auto;
    @include content-styles;
  }
}
