.c-button {
  display: inline-block;
  height: 2*$line-height;
  line-height: 2*$line-height;
  border-radius: $line-height;
  padding: 0 $spacing;

  background: $orange;
  text-decoration: none;
  color: $font-color;
  box-shadow: $box-shadow;
  @include font($heading-font, 0);
}
