.c-footer {
  display: flex;
  padding: $row $grid-offset+2*$col $row $grid-offset+2*$col;
  background: $background-color;

  &__info {
    display: block;
    margin-left: $spacing;
  }

  &__info, &__links {
    a { @include link(true); }
    flex-grow: 2;
  }

  &__ctas {
    float: left;
    flex-grow: 1;
    text-align: center;
  }

  &__some a {
    margin: $row $spacing-xs 0 $spacing-xs;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    background: $orange;
  }

  &.v-dark {
    background: $dark-green;
    color: $font-color-inverse;
    background: $grid-offset $row no-repeat asset('lpk-logo.png') $dark-green;

    .c-footer__info, .c-footer__links {
      a:link, a:visited, a:hover, a:active {
        color: $font-color-inverse;
      }
    }
  }
}
