.c-footer {
  display: flex;
  padding: 2*$row $grid-offset 2*$row $grid-offset+2*$col;
  background: $grid-offset 2*$row no-repeat asset('lpk-logo-blue.svg') $background-color;

  &__info {
    display: block;
    margin-left: $spacing;
  }

  &__info, &__links {
    a { @include link(true); }
    flex-grow: 2;
  }

  &__ctas {
    flex-grow: 1;
    text-align: right;
  }

  &__some a {
    margin: 0 $spacing-s 0 0;
    display: inline-block;
    width: 2*$row;
    height: 2*$row;
    text-indent: -999em;
    background: 50% 50% no-repeat;
    background-size: cover;

    &:hover {
      opacity: 0.8;
    }

    &.facebook {
      background-image: asset('icon-facebook.svg');
    }

    &.instagram {
      background-image: asset('icon-instagram.svg');
    }
  }

  &.v-colored {
    background-color: $light-green;
  }
}
