.c-header {
  // TODO mieti voisko tän tehdä VH-yksiköillä, esim. 90vh -> olisi aina vähän sivua näkyvissä
  height: 24*$row;
  // TODO other sizes
  background: 50% 50% no-repeat asset('header-image-1x.jpg');

  h1 {
    @include font($heading-font, 3);
    line-height: 1.2;
    color: $font-color-inverse;
    padding: 9*$row 2*$col 0 4.5*$col; // Intentionally a half-col: looks better
    text-shadow: $text-shadow-large;
  }
}
