.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 $grid-offset;

  h1 {
    float: left;
    width: 7.5*$spacing;
    background: $dark-green;
    box-shadow: $box-shadow-large;

    a {
      display: block;
      height: 4*$row;
      text-indent: -99em;
      overflow: hidden;
      // TODO Use SVG once you know what causes the blurriness
      background: 50% 50% no-repeat asset('lpk-logo.png');
    }
  }

  ul {
    float: right;
    margin-top: $row;
    line-height: 2*$row;
  }

  li {
    float: left;

    a {
      text-decoration: none;
      color: $font-color-inverse;
      margin-left: $spacing;
      padding-bottom: 5px;
      @include font($heading-font, 0);
      text-shadow: $text-shadow-large;
    }

    a.c-navigation__active, a:hover, a:active {
      border-bottom: 5px solid $font-color-inverse;
    }
  }
}
