.c-page-full {
  &__meta {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: $row 0 0;
  }

  &__content {
    width: 6*$col;
    margin: 2*$row auto;
    @include content-styles;
  }
}
