.c-panel {
  @include panel;
  padding: $spacing-l;

  &__content {
    @include content-styles;
  }

  h2, h3 {
    @include font($heading-font, 2);
    margin-bottom: $row;
  }

  &__actions {
    margin-top: $row;
    text-align: center;
  }

  &.v-centered {
    text-align: center;
  }

  &.v-image {
    padding: 0 0 $spacing-l 0;

    img {
      width: 100%;
      height: auto;
    }

    h2, h3 {
      margin: $spacing-l $spacing-l $row;
    }

    .c-panel__content {
      margin: 0 $spacing-l;
    }
  }
}
