.c-section {
  h2 {
    @include font($heading-font, 2);
    margin: 0 0 $row 0;
  }

  &.v-inverse h2 {
    color: $font-color-inverse;
    text-shadow: $text-shadow;
  }

  &__actions {
    margin-top: 1.5*$row;
    text-align: center;
  }
}
