.c-section-container {
  background: asset('tree-pattern.svg') $dark-green;
  padding: 2*$row $grid-offset;
  display: grid;
  grid-column-gap: $grid-offset;
  grid-row-gap: 2*$row;
  grid-auto-flow: column;

  &.v-wide-narrow {
    grid-template-columns: 6fr 4fr;
  }

  // TODO equal width version
}

.c-section {
  h2 {
    @include font($heading-font, 2);
    margin: 0 0 $row 0;
  }

  &.v-inverse h2 {
    color: $font-color-inverse;
    text-shadow: $text-shadow;
  }

  &__actions {
    margin-top: 1.5*$row;
    text-align: center;
  }
}
