.c-grid-container {
  padding: 2*$row $grid-offset;
  display: grid;
  grid-column-gap: $grid-offset;
  grid-row-gap: 2*$row;
  grid-auto-flow: column;

  // Color variants

  &.v-bg-light {
    background: $light-green;
  }

  &.v-bg-dark {
    background: asset('tree-pattern.svg') $dark-green;
  }

  // Grid variants

  &.v-grid-1col-narrow {
    padding: 2*$row $grid-offset+2*$col;
  }

  &.v-grid-2col-7-5 {
    grid-template-columns: 7fr 5fr;
  }

  &.v-grid-2col-even {
    grid-template-columns: 1fr 1fr;
  }
}

.c-section {
  h2 {
    @include font($heading-font, 2);
    margin: 0 0 1.5*$row 0;
  }

  &.v-inverse h2 {
    color: $font-color-inverse;
    text-shadow: $text-shadow;
  }

  // Allows content styles
  &.v-full-content {
    @include content-styles;

    :first-child {
      margin-top: 0; // Otherwise there content styles mess up the margins
    }
  }

  &__actions {
    margin-top: 1.5*$row;
    text-align: center;
  }
}
