.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 $grid-offset;

  h1 {
    float: left;
    width: 7.5*$spacing;
    background: $dark-green;
    box-shadow: $box-shadow;

    a {
      display: block;
      height: 4*$row;
      text-indent: -99em;
      overflow: hidden;
      background: 50% 45% no-repeat asset('lpk-logo.svg');
      background-size: 145px auto;
    }
  }

  ul {
    float: right;
    margin-top: $row;
    line-height: 2*$row;
  }

  li {
    float: left;
    margin-left: $spacing;

    a.c-navigation__link {
      text-decoration: none;
      color: $dark-green;
      padding-bottom: 5px;
      @include font($heading-font, 0);
      border-bottom: 0 solid $dark-green;

      &.c-navigation__active, &:hover, &:active {
        border-bottom-width: 5px;
      }
    }
  }

  // Inverse colored version for darker backgrounds
  &.v-inverse li a.c-navigation__link {
    color: $font-color-inverse;
    border-bottom-color: $font-color-inverse;
    text-shadow: $text-shadow-large;
  }

  .js-navbar-toggle {
    display: none;
  }

  @include max-width(xsmall) {
    background: $dark-green;
    text-align: center;
    position: static;
    min-height: 4*$row;

    h1 {
      box-shadow: none;
      width: 130px;

      a {
        background: 50% 50% no-repeat asset('lpk-logo.svg');
        background-size: 130px auto;
      }
    }

    .js-navbar-toggle {
      display: inline-block;
      float: right;
      margin-top: $row;

      padding-right: 2.3*$spacing;
      padding-left: $spacing;
      background-position: 75% 50%;
      background-repeat: no-repeat;
      background-image: asset('icon-close.svg');
    }

    &.s-mobile-closed .js-navbar-toggle {
      padding-left: 2.3*$spacing;
      padding-right: $spacing;
      background-position: $spacing 50%;
      background-repeat: no-repeat;
      background-image: asset('icon-menu.svg');
    }

    &.s-mobile-closed ul {
      position: absolute;
      overflow: hidden;
      width: 0px;
      height: 0px;
    }

    ul, li {
      float: none;
      text-align: center;
      margin: 0;
    }

    ul {
      clear: both;
      padding: $row 0 2*$row;
    }

    ul a.c-navigation__link {
      text-shadow: none !important;
      border-bottom-color: $font-color-inverse;
      color: $font-color-inverse;
    }

    ul .c-button {
      margin-top: $spacing;
    }
  }
}
